@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
    /* General Colors */
    --background-color: #121212;
    --surface-color: #1E1E1E;
    --card-shadow: 0 2px 8px #0000001a;
    --border-color: #333333;
    --button-color: #121212;
    
    /* General Colors Hover */
    --border-hover: #4d4d4d;
    --button-hover: #121212;
    /* Text Colors */
    --text-color: #b9b9b9;
    --text-primary: #ebebeb;
    --text-secondary: #6C757D;
    --link-color: #20ac82;

    /* Text Colors Hover */
    --text-color-hover: #d3d3d3;
    --text-primary-hover: #ffffff;
    --text-secondary-hover: #838b93;
    --link-color-hover: #17d199;
    
    /* Accent Colors */
    --primary-color: #20ac82;
    --primary-hover: #17d199;
    --danger-color: #dc3545;
    --warning-color: #ffc107;
    --success-color: #28a745;
}

body {
    font-family: 'Poppins', sans-serif !important;
    background-color: var(--background-color);
    color: var(--text-primary);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}