@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
    /* General Colors */
    --background-color: #121212;
    --surface-color: #1E1E1E;
    --card-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    --border-color: #333333;
    --button-color: #121212;
    
    /* General Colors Hover */
    --border-hover: #4d4d4d;
    --button-hover: #121212;
    /* Text Colors */
    --text-color: #b9b9b9;
    --text-primary: #ebebeb;
    --text-secondary: #6C757D;
    --link-color: rgb(32, 172, 130);

    /* Text Colors Hover */
    --text-color-hover: #d3d3d3;
    --text-primary-hover: #ffffff;
    --text-secondary-hover: #838b93;
    --link-color-hover: rgb(29, 248, 182);
    
    /* Accent Colors */
    --primary-color: #20ac82;
    --primary-hover: #17d199;
    --danger-color: #dc3545;
    --warning-color: #ffc107;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background-image: url('../images/task_nest_bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: var(--primary);
}

h1, h2, h3, h4, h5, h6 {
    color: var(--primary);
    font-weight: 700;
}

.category-form {
    background-color: #fff;
    padding: 1rem;
    border-radius: 0.25rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 1rem;
}

.form-group button {
    align-self: flex-end;
}

footer {
    display: none;
}

.color-preview {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 8px;
    vertical-align: middle;
    border: 2px solid #fff;
    box-shadow: 0 0 0 1px #ccc;
}

.form-check {
    display: flex;
    align-items: center;
}

.form-check-input:checked {
    background-color: var(--primary);
    border-color: var(--primary);
}

.form-check-label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .category-form {
        margin: 0;
        display: block;
    }
    .form-group {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 1rem;
    }
    .form-group button {
        align-self: flex-end;
    }
    footer {
        display: none;
    }
}

@media (max-width: 768px) {
    .d-flex.gap-3 {
        flex-wrap: wrap;
    }
    
    .form-check {
        width: calc(50% - 1rem);
        margin-bottom: 1rem;
    }
}