@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
    --background: #f8f9fa ;
    --primary: #2C3E50;
    --primary-hover: rgb(38, 91, 145);
    --secondary: #6c757d;
    --success: #28a745;
    --danger: #dc3545;
    --warning: #ffc107;
    --info: #17a2b8;
    --info-hover: #1ccde9;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--background);
    color: var(--primary);
}

h1, h2, h3, h4, h5, h6 {
    color: var(--primary);
    font-weight: 700;
}

.card-body {
    display: block !important;
    padding: 2rem;
}

.card {
    display: block;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-footer {
    display: flex;
    justify-content: flex-end; /* Move os itens para a direita */
}


@media (max-width: 768px) {
    .container {
        max-width: 900px;
        width: 100%;
    }
    .dashboard-section-title .btn {
        margin-bottom: 2rem;
    }
    .float-end {
        width: 100%;
    }
    .card-footer .btn {
        margin: 0;
    }
}