@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
    --background: #f8f9fa ;
    --primary: #2C3E50;
    --primary-hover: rgb(38, 91, 145);
    --secondary: #6c757d;
    --success: #28a745;
    --danger: #dc3545;
    --warning: #ffc107;
    --info: #17a2b8;
    --info-hover: #1ccde9;
}

html {
    height: auto;
}

body {
    font-family: 'Poppins', sans-serif;
    background-image: url('../images/task_nest_bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: var(--primary);
}

h1, h2, h3, h4, h5, h6 {
    color: var(--primary);
    font-weight: 700;
}

label {
    font-weight: 600;
}

footer {
    display: none;
}

@media (max-width: 768px) {
    .container {
        margin: 0;
        padding: 0;
    }
    .container .btn {
        margin: 0;
    }
    form {
        display: block;
    }
}