@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
    --background: #f8f9fa ;
    --primary: #2C3E50;
    --primary-hover: rgb(38, 91, 145);
    --secondary: #6c757d;
    --success: #28a745;
    --danger: #dc3545;
    --warning: #ffc107;
    --info: #17a2b8;
    --info-hover: #1ccde9;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    color: var(--primary);
}

h1, h2, h3, h4, h5, h6 {
    color: var(--primary);
    font-weight: 700;
}

/* CREATE-TAKS */
.task-form-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
}

.task-header {
    margin-bottom: 2rem;    
}

.task-form-container button {
    background-color: var(--primary);
    border: none;
}

.task-form-container button:hover {
    background-color: var(--primary-hover);
    border: none;
}

.form-container {
    background-color: white;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.185);
}

.color-preview {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 8px;
    vertical-align: middle;
    border: 2px solid #fff;
    box-shadow: 0 0 0 1px #ccc;
}

.category-badge {
    display: inline-block;
    padding: 10px 15px;
    border-radius: 20px;
    font-size: 0.875rem;
    color: #fff;
    font-weight: 500;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.categories-column {
    min-width: 150px;
}

.gap-2 {
    gap: 0.75rem !important;
}

@media (max-width: 768px) {
    body {
        background-image: url('../images/task_nest_mobile_bg.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .container {
        width: 450px;
        margin: 0 auto;
        padding: 0 15px;
    }
}